
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Model Hack */

* {
    box-sizing: border-box;
}
  
/* Clear fix hack */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* FONT-AWESOME ICONS
/*******************************************/

.fa-brands {
  color: rgb(238,141,52);
}

.fa-magnifying-glass {
  position: relative;
  left: 25px;
  color: gray;
}

.fa-caret-down {
  padding-left: 10px;
}

/******************************************
/* HEADER/NAV
/*******************************************/

.nav div, .navbar li {
  float: left;
}

.nav div img {
  width: 100%;
}

.nav div {
  margin: 10px 0 0 50px;
}

.navbar li {
  margin: 30px;
}

.navbar ul {
  margin-left: 60px;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

.heading-bold-font {
  font: 700 4em 'PT Serif';
}

.nav, .navbar a {
  text-decoration: none;
  font: 300 1em 'PT Serif';
  color: black;
}

.orange-text {
  color: rgb(238,141,52);
}



/******************************************
/* GRID
/*******************************************/



/******************************************
/* HERO
/*******************************************/

.hero {
  background-image: url(images/hero-fruit.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  height: 650px;
}

.welcome {
  padding: 100px;
}

.welcome h1 {
  text-align: left;
  width: 50%;
}

.welcome span {
  float: left;
  padding-top: 20px;
  width: 100px;
  font-size: 1.3em;
}

/******************************************
/* ABOUT
/*******************************************/

.aboutSection {
  background-image: url(images/pie&fruit-about.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 650px;
  padding: 100px;
}

.aboutSection section {
  background-color: rgba(255, 255, 255, 0.9);
  width: 50%;
}

/******************************************
/* BUTTONS
/*******************************************/

.welcome form {
  margin-top: 30px;
}

.welcome input {
  width: 40%;
  height: 50px;
  padding-left: 30px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border: 1px solid gray;
}

.orange-button {
  background-color: rgb(238,141,52);
  color: white;
  border: none;
  width: 130px;
  position: relative;
  right: 5px;
  height: 50px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
}

/* 
TEMPORARY HIDE SO I DON'T HAVE TO KEEP SCROLLING EVERY REFRESH JESUS */
.hero {
  display: none;
}