
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Model Hack */

* {
    box-sizing: border-box;
}
  
/* Clear fix hack */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* FONT-AWESOME ICONS
/*******************************************/

.fa-brands {
  color: rgb(238,141,52);
}

.fa-magnifying-glass {
  position: relative;
  left: 25px;
  color: gray;
}

.fa-caret-down {
  padding-left: 10px;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* .heading-bold-font {
  font: 700 4em 'PT Serif';
}

.nav, .navbar a {
  text-decoration: none;
  font: 300 1em 'PT Serif';
  color: black;
}

.orange-text {
  color: rgb(238,141,52);
}

.aboutSection p {
  letter-spacing: 1px;
  font-size: 1.2em;
} */

/********************
BASE STYLES
********************/

header, .hero {
  background-color: rgb(241,245,248);
}

/******************************************
/* HEADER/NAV
/*******************************************/



/****  HAMBURGER *****/

nav {
  padding: 1rem;
  display: flex;
  background-color: rgb(34,27,49);
  position: absolute;
  top: 0;
  right: 0;
}

.off-screen-menu {
  background-color: rgb(34,37,49);
  height: 70vh;
  width: 100%;
  max-width: 250px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  transition: .3s ease;
}

.off-screen-menu a {
  text-decoration: none;
  color: white;
  font-size: .7em;
}

.off-screen-menu.active {
  right: 0;
}

.ham-menu {
  height: 65px; /* to match image */
  width: 50px;
  margin-left: auto;
  position: relative;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/***********************************
Tablet and larger
***********************************/

@media screen and (min-width: 767px) {
  header {
    display: flex;
  }
  
  nav {
    display: none;
  }

  .off-screen-menu {
    background-color: rgb(241,245,248);
    font-size: 2.5rem;
  }

  .off-screen-menu a {
    color: black;
  }



  /* .img-container img {

  } */
  
}

/* .nav div, .navbar li {
  float: left;
}

.nav div img {
  width: 100%;
}

.nav div {
  margin: 10px 0 0 50px;
}

.primary-nav li {
  margin: 30px;
}

.primary-nav ul {
  margin-left: 60px;
}

.navbar li {
  margin: 30px;
  border: 1px solid red;
}

.navbar ul {
  width: 100%;
  height: 75px;
} */

/******************************************
/* GRID
/*******************************************/

/* .container {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.col-1-4 {
  float: left;
  margin: 0 auto;
} */

/******************************************
/* HERO
/*******************************************/

/* .hero {
  background-image: url(images/hero-fruit.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  height: 650px;
}

.welcome {
  padding: 100px;
}

.welcome h1 {
  text-align: left;
  width: 50%;
}

.welcome span {
  float: left;
  padding-top: 20px;
  width: 100px;
  font-size: 1.3em;
} */

/******************************************
/* ABOUT
/*******************************************/

/* .aboutSection {
  background-image: url(images/pie&fruit-about.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 650px;
  
}

.aboutSection section {
  background-color: rgba(255, 255, 255, 0.9);
  width: 50%;
  position: relative;
  top: 100px;
  left: 600px;
  padding: 20px;
} */

/******************************************
/* Menu
/*******************************************/

/* .menu {
  background-color: rgb(240, 240, 240);
}

.menu-items {
  width: 100%;
}

.menu-items img {
  
} */




/******************************************
/* BUTTONS
/*******************************************/

/* .welcome form {
  margin-top: 30px;
}

.welcome input {
  width: 40%;
  height: 50px;
  padding-left: 30px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border: 1px solid gray;
}

.orange-button {
  background-color: rgb(238,141,52);
  color: white;
  border: none;
  width: 130px;
  position: relative;
  right: 5px;
  height: 50px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;
} */

/* 
TEMPORARY HIDE SO I DON'T HAVE TO KEEP SCROLLING EVERY REFRESH JESUS */
/* .hero, .aboutSection {
  display: none;
} */