
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Model Hack */

* {
    box-sizing: border-box;
}
  
/* Clear fix hack */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/**********************
/* FONT-AWESOME
***********************/
.fa-brands, .fa-phone {
  color: rgb(238,141,52);
}

.fa-brands {
  margin-right: .3em;
}
/***********************
/* TYPOGRAPHY
************************/
.heading-bold-font {
  font: 700 2em 'PT Serif';
}

.orange-text {
  color: rgb(238,141,52);
}

.hero h1 {
  font-size: 2.5em;
  text-transform: capitalize;
  /* padding: 1.5em 3em 1em 1em; */
}
/********************
BASE STYLES
********************/
header, .hero, .menu {
  background-color: rgb(241,245,248);
}

.hero {
  background-image: url('images/hero-fruit.jpg');
  background-size: cover;
  /* background-repeat: no-repeat; */
}

footer {
  background-color: rgb(30,36,42);
}

.footer-list_item {
  color: white;
}
/*************
  HERO
*************/

.hero {
  padding: 3em 4em 1em 1em;
}

.hero form {
  margin-top: 2em;
  margin-left: 0;
}

.hero input {
  padding: .5em;
}

#hero-icon-container {
  margin: 3em 0;
}

#hero-icon-container span {
  margin-left: 1.3em;
}

.orange-button {
  background-color: rgb(238,141,52);
  color: white; 
  border: none;
  padding: .8em;
  border-radius: 5px;
}

/*************
  MENU
*************/
/*************************
  BREAKFAST/LUNCH/DINNER/DESSERT
*******************************/
.menu-nav-bottom-border {
  display: flex;
  justify-content: center;
}

.menu-nav-bottom-border ul {
  display: flex;
}

.menu-nav-bottom-border li {
  padding: .5em;
  border-bottom: 1px solid black;
  /* margin: 0 auto; */
}

.orange-text-active {
  color: rgb(238,141,52);
  border-bottom: 1px solid rgb(238,141,52) !important;
}

/***************************** 
MOBILE
*****************************/

@media screen and (max-width: 1060px) {
/*************
  HEADER/NAV
*************/

  header, .img-container, .img-container img {
    max-height: 76px;
  }

  header nav {
    padding: 1em;
    display: flex;
    background-color: rgb(34,27,49);
    position: absolute;
    top: 0;
    right: 0;
    max-height: 75px;
  }
  
  .off-screen-menu {
    background-color: rgb(34,37,49);
    height: 70vh;
    width: 100%;
    max-width: 250px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: .3s ease;
  }
  
  .off-screen-menu a {
    text-decoration: none;
    color: white;
    font-size: .7em;
  }
  
  .off-screen-menu.active {
    right: 0;
  }
  
  .ham-menu {
    min-height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
  }
  
  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }
  
  .ham-menu span:nth-child(1) {
    top: 25%;
  }
  
  .ham-menu span:nth-child(3) {
    top: 75%;
  }
  
  .ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }
  
  .ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

/*****************
  ABOUT / INTRO
******************/

  .about-section {
    margin-top: 2em;
  }

  .about-section section {
    width: 70%;
    margin: 0 auto;
  }

  .about-section .orange-text {
    font-size: 1.4em;
  }

  .about-section p {
    padding: .5em 0;
    font-size: 1.1em;
    line-height: 1.4em;
  }
/*****************
  MENU
******************/
  .menu {
    margin: 2em 0;
    padding: 2em 0;
  }

  .container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .grid-container img {
    width: 100%;
  }

  /* #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  } */

/*********************
  HOURS / PHONE
***********************/

  .col-1 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .col-flex {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
  }

  .col-2 {
    margin-bottom: 3em;
  }

  .xtra-space {
    padding: .5em 0;
  }

/*********************
  FOOTER
***********************/
  footer {
    margin-top: auto;
    padding-top: 3em;
    text-align: center;
  }

  footer ul {
    color: #fff;
  }

  footer li {
    margin-bottom: 2em;
  }

  .footer-list_item {
    text-transform: uppercase;
    font-size: 14px;
  }

  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-social_icons {
    flex-wrap: wrap;
    display: flex;
    gap: 1.5em;
  }

}

@media (max-width: 430px) {

  .grid-container {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr;
    margin-top: 1em;
  }

  .grid-container div {
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 431px) {

  .grid-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    margin: 1em;
  }
}

@media (min-width: 770px) {
  .hero {
    padding: 4em;
  }
  
  .grid-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-nav-bottom-border li {
    padding: 1em;
    font-size: 1.3em;
  }

  footer {
    margin-top: auto;
    padding-top: 3em;
    text-align: center;
  }

  footer ul {
    color: #fff;
  }

  footer li {
    margin-bottom: 2em;
  }

  .footer-list_item {
    text-transform: uppercase;
    font-size: 14px;
  }

  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-social_icons {
    flex-wrap: wrap;
    display: flex;
    gap: 1.5em;
  }
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.col-2 p {
  padding: .2em 0;
}


/***********************************
Tablet and larger
***********************************/
@media screen and (min-width: 1061px) {
  
  header, .off-screen-menu ul {
    display: flex;
  }

  .off-screen-menu {
    background-color: rgb(241,245,248);
    height: 97px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 1em;
  }

  .off-screen-menu li {
    margin: 0 .5em;
  }

  .off-screen-menu a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  .about-section {
    margin: 2em;
  }

  .about-section section {
    width: 70%;
    margin: 0 auto;
  }

  .about-section .orange-text {
    font-size: 1.4em;
  }

  .about-section p {
    padding: .5em 0;
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .menu {
    margin: 2em 0;
    padding: 2em 0;
  }

  .container {
    text-align: center;
  }

  .grid-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-container img {
    width: 100%;
  }

  .col-1 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .col-flex {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
  }

  .xtra-space {
    padding: .5em 0;
  }

  .col-2 {
    margin-bottom: 3em;
  }

  .col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .col-2 p {
    padding: .2em 0;
  }

  footer {
    margin-top: auto;
    padding-top: 3em;
    text-align: center;
  }

  footer ul {
    color: #fff;
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
  }

  footer ul + ul li {
    padding: 1em;
  }

  footer li {
    margin: 0 auto;
  }

  .footer-list_item {
    text-transform: uppercase;
    font-size: 14px;
  }

  .footer-social_icons {
    flex-wrap: wrap;
    display: flex;
    gap: 1.5em;
  }
}


